<!--<app-two-row-page>
  <app-navigation nav></app-navigation>
  <app-content main></app-content>
  <app-footer footer></app-footer>
</app-two-row-page>

<app-one-row-page>
  <app-navigation nav></app-navigation>
  <app-content main></app-content>
  <app-footer footer></app-footer>
</app-one-row-page>
-->
<app-dynamic-component-ex01>
</app-dynamic-component-ex01>

<div>
  <p appHighlight [color]="'blue'" > Lorem Ipsum </p>
</div>

<select appSelectOptions [options]="myOptions" >
</select>

<!--
<ng-template myIF [display]="true" >
  <p>ehe ehe  </p>
</ng-template>
-->

<div *myIF="true" >
  <p> test </p>
</div>
